.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(86, 58, 212);
}

.link{
    text-decoration: none;
    font-size: large;
    color: white;
    width: 60px;
    background-color: red;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
}

.main-img{
    width: 100%;
    height: 700px;
}

.dept-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dept-container{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
.dept-links{
    text-decoration: none;
    color: rgb(6, 6, 90);
    font-size: medium;
}


.stu-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stu-link{
    text-decoration: none;
    font-size: large;
    color: white;
    width: 200px;
    background-color: red;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
}

.admin-div{
    width: 100%;
    background-color: rgba(0, 255, 242, 0.158);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 54);
    width: 100%;
    color: aliceblue;
}